In [7]:
#Maketrans and translate:--

intab="aeiou"
outtab="12345"
my="this is string translate function..!!"
transtab=my.maketrans(intab,outtab)
print(my.translate(transtab))

th3s 3s str3ng tr1nsl1t2 f5nct34n..!!

In [8]:
my.maketrans??

In [9]:
print(transtab)

{97: 49, 101: 50, 105: 51, 111: 52, 117: 53}

In [10]:
my.translate??

In [11]:
#Removing punctuations:--

import string

In [14]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [17]:
mystring="!hye.. what? is wea[th]er li??ke."
newstring=mystring.translate(mystring.maketrans("","",string.punctuation))
print(newstring)

hye what is weather like

In [22]:
#write a code to create a function to find the length of the string without using len method.
def function(string):
    count=0
    for i in string:
        count=count+1
    print(count)
string=input("enter: ")
function(string)

enter: hello world.....
16

In [28]:
#write a code to swapcase :
#i/p = mR eD
#o/p = Mr Ed without using swapcase

string=input("enter: ")
s1=""
for i in string:
    if i.isupper():
        s1=s1+i.lower()
    else:
        s1=s1+i.upper()
print(s1)

enter: HellO
hELLo

In [85]:
#write a code to find the no of digits in given string ist the sum of digits and average.
#i/p = this is python 101 course
#o/p = count-3,sum-2,avg=2/3=0.66

string=input("enter: ")
s1=""
count=0
sum=0
for i in string:
    if i.isdigit():
        count=count+1
        sum=sum+int(i)
print("count= ",count)
print("sum= ",sum)
print("Avg= ",(sum/count))

enter: 101 hye
count=  3
sum=  2
Avg=  0.6666666666666666

In [40]:
#write a code to shift the numbers base on following condition:-
#i/p = 12345 
#o/p = shift-1=23451,shift-2=34512,shift-3=45123,shift-4=51234,shift-5=12345,shift-6=54321

def function(number,shift):
    strnumber=str(number)
    digits=len(number)
    
    if shift>digits:
        result=strnumber[::-1]
    else:
        result=strnumber[shift:]+strnumber[:shift]
    
    return int(result)
number=input("Enter: ")
shift=int(input("Enter shift: "))
function(number,shift)

Enter: 12345
Enter shift: 2

34512

In [41]:
# Tuple:--tuple is an imnutable data structure in order sequence and hence it can be index or slice. since it is an iterable
#          it can be looped to.

In [42]:
#Creating Tuple:--

t=()
print(type(t))

<class 'tuple'>

In [43]:
t=(5)
print(type(t))

<class 'int'>

In [44]:
t=(5,)
print(type(t))

<class 'tuple'>

In [45]:
t=5,6,7
print(t)
print(type(t))

(5, 6, 7)
<class 'tuple'>

In [46]:
a,b,c=t
print(a,b,c)

5 6 7

In [49]:
#Zipping:--

a,b,*c=(1,2,3,4,5,6)
print(a,b)

1 2

In [50]:
print(c)

[3, 4, 5, 6]

In [51]:
a=(1,2,3)

In [52]:
b=(4,5,6)

In [53]:
print(zip(a,b))

<zip object at 0x000001DFABAB25C0>

In [54]:
list(zip(a,b))

[(1, 4), (2, 5), (3, 6)]

In [55]:
print(tuple(zip(a,b)))

((1, 4), (2, 5), (3, 6))

In [56]:
#Tuple allows different data strrctures as elements:--

t=(None,1,[1,2],'hi')

In [57]:
print(t)

(None, 1, [1, 2], 'hi')

In [58]:
#Immutability:--
t[0]=100

TypeError: 'tuple' object does not support item assignment

In [59]:
#indexing:--
print(t)

(None, 1, [1, 2], 'hi')

In [60]:
t[0]

In [61]:
t[1]

1

In [62]:
t[2]

[1, 2]

In [63]:
t[3]

'hi'

In [64]:
t[2][0]=100
t

(None, 1, [100, 2], 'hi')

In [66]:
#Type conversion:--

t=tuple('hello')
t

('h', 'e', 'l', 'l', 'o')

In [68]:
# + and *:--

t1=(1,2,3)
t2=(4,5,6)
print(t1+t2)
print(t1*4)
print(t2*2)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)
(4, 5, 6, 4, 5, 6)

In [69]:
#membership operator:--

t=(2,3,4,5)
print(4 in t)
print(100 in t)

True
False

In [70]:
# Iterating through tuple:--
for i in t:
    print(i)

2
3
4
5

In [71]:
# Enumerate:--

for i in enumerate(t):
    print(i)
    #o/p= index,value

(0, 2)
(1, 3)
(2, 4)
(3, 5)

In [72]:
for i,j in enumerate(t):
    print(i,j)

0 2
1 3
2 4
3 5

In [76]:
#Universal function:--

t=(5,2,7,8,2,6,9)
print(len(t))
print(min(t))
print(max(t))
print(sorted(t))
print(sorted(t,reverse=False))
print(sorted(t,reverse=True))

7
2
9
[2, 2, 5, 6, 7, 8, 9]
[2, 2, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 2, 2]

In [79]:
# Comparison:--

t1=(1,2,3)
t2=(4,5,6)
t1==t2

False

In [78]:
t1<t2

True